
body
 {
      margin:0;
      padding:0; 
 }

#nextTrip
{
    position: absolute;
    top: 6%;
    right: 1%;
}

#next
{
    position: absolute;
    top: 45%;
    right: 1%;
}

#weatherInfo
{
    position: absolute;
    top: 10%;
    width: 100%;
}

#publicTransportInfo
{
    position: absolute;
    top: 10%;
    bottom: 50%;
    width: 100%;
}

#news
{
    position: absolute;
    top: 55%;
    bottom: 10%;
    width: 100%;
}

 .angular-leaflet-map
  {
    position: absolute;
    top: 5%;
    right: 1%;
    bottom: 8%;
    width: 100%;
  }
  
  .panel-heading
  { 
      border: 1px solid;
  }

 .my-checkbox .checkbox-icon:before
 {
    border-color: black;
 }

 .my-checkbox input:checked:before,
 .my-checkbox input:checked + .checkbox-icon:before
 {
    background: black;
    border-color: black;
 }

  #disablingDiv
  {
    display: none; 
   
    z-index:1001;
     
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
 
    background-color: white; 
    opacity: 0.3;
    filter: alpha(opacity=30);
 }

#tripInfo
{
    position: absolute;
    top: 60%;
    bottom: 8%;
    width: 100%;
}