<!--script for the home template-->
<ion-view view-title="Chorevolution">
  <leaflet lf-center="current" markers="markers" paths="paths" decorations="decorations"></leaflet>
  <div id="nextTrip" style="visibility: hidden">
    <button class="button icon-right ion-arrow-right-c button-dark" ng-click="showPaths()" ng-model="nextTrip">
              Show Trips
    </button>
  </div>
  <div id="next" style="visibility: hidden">
    <button class="button ion-arrow-right-a button-dark button-large" ng-click="showPaths()" ng-model="next"></button>
  </div>
  <div id="loading" style="visibility: hidden">
    <img src="img/loading.gif" alt="Loading..." style='position:fixed;top:45%;left:45%;width:60px;height:60px;'>
  </div>
  <ion-content class="card" id="tripInfo" style="visibility: hidden">
    <ion-item class="item item-divider">
      Trip Duration : {{duration}} minutes
    </ion-item>
    <ion-item class="item item-divider">
      Trip Details
    </ion-item>
    <ion-item collection-repeat="details in tripDetails track by $index">
      From: {{details.from}}<br> To: {{details.to}}<br> Transport Type: {{details.transportType}}<br>
    </ion-item>
  </ion-content>
  <!--disable page control div -->
  <div id="disablingDiv"></div>
</ion-view>