<!--script for the found info (meteo, news, publicTransportInfo)-->
<ion-view view-title="Chorevolution">
    <div id="weatherInfo" style="visibility: hidden">
        <div class="item item-divider icon-left ion-android-cloud">
            Weather
        </div>
        <div class="item item-text-wrap">
            TEMPERATURE: {{temperature}}
        </div>
        <div class="item item-text-wrap">
            PRESSURE: {{pressure}}
        </div>
        <div class="item item-text-wrap">
            HUMIDITY: {{humidity}}
        </div>
        <div class="item item-text-wrap">
            RAIN: {{rain}}
        </div>
    </div>
    <div id="publicTransportInfo" style="visibility: hidden">
        <div class="item item-divider icon-left ion-android-bus">
            Public Transport Info
        </div>
        <ion-content>
            <div class="item item-text-wrap" ng-repeat="info in publicTranspInfos">
                {{info}}
                <button class="button ion-forward" ng-click="openDetails($index)"></button>
            </div>
        </ion-content>
    </div>
    <div id="news" style="visibility: hidden">
        <div class="item item-divider icon-left ion-ios-paper">
            News
        </div>
        <ion-content>
            <div class="item item-text-wrap" ng-repeat="info in news | unique:'title'">
                Name: {{info.title}}<br> Location: {{info.location}}
            </div>
        </ion-content>
    </div>
</ion-view>