<!--script for the footer navigation bar-->

<ion-side-menus enable-menu-with-back-views="false" ng-controller="BarCTRL">

    <ion-side-menu-content>
        <!--nav bar with buttons-->
        <ion-nav-bar align-title="center" class="bar-dark" >
            <ion-nav-buttons side="right">
                <button class="button ion-refresh" ng-click="refresh()">
        </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!--tabs-->
        <ion-tabs class="tabs-icon-top tabs-dark">
            <ion-tab title="Home" icon="ion-home" href="#/tab/home">
                <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Infos" icon="ion-information-circled" ui-sref="tabs.info">
                <ion-nav-view name="info-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-side-menu-content>

    <!-- Side Menu (left) -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Chorevolution</h1>
        </ion-header-bar>
        <ion-content>
            <!--put here the functions of the app-->
            <ion-list>
                <ion-item menu-close ng-click="poiTypesChange()">
                    Start a search
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>